* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

.principal-container{
    /* Container Measures */
    width: 100%;
    height: 100%;
    display: flex;
    padding: 4rem 4rem 4rem 8.4rem;
    /* Container Visuals */
    background-color: #E5E5E5;
}

#logo-alura{
    width: 3.1rem;
    height: 4.8rem;
}

.main-container{
    width: 68rem;
    height: 78.4rem;
    margin-top: 12.8rem;
    margin-left: 15.6rem;
    flex-direction: column;
}

.main-container textarea{
    width: 68rem;
    height: 28.8rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: transparent;
    outline: none;
    resize: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 150%;
    color: #0A3871;
}

textarea::-webkit-scrollbar{
    width: 0rem;
}

/* #input-text{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 150%;
    color: #0A3871;
} */

::placeholder{
    color: #0A3871;
    opacity: 1;
}

#caution-input{
    margin-top: 39.5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    /* Gray/gray-400 */
    color: #495057;
    opacity: 0.8;
}

.buttons-container{
    width: 100%;
    height: 6.7rem;
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#button-encrypt{
    /* Button measures */
    width: 47.67%;
    height: 100%;
    /* Button Visuals */
    background-color: #0A3871;
    border: 0.1rem solid #0A3871;
    border-radius: 2.4rem;
    /* Button Font */
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    color: #FFFFFF;
}

#button-decrypt{
    /* Button measures */
    width: 47.67%;
    height: 100%;
    /* Button Visuals */
    background-color: #D8DFE8;
    border: 0.1rem solid #0A3871;
    border-radius: 2.4rem;
    /* Button Font */
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    color: #0A3871;
}

.output-global-container{
    /* Container Measures */
    width: 40rem;
    height: 94.4rem;
    margin-left: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* Container Visuals */
    background-color: #FFFFFF;
    box-shadow: 0rem 2.4rem 3.2rem -0.8rem rgba(0, 0, 0, 0.08);
    border-radius: 3.2rem;
}

#out-container{
    width: 33.6rem;
    height: 78.1rem;
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    /* Gray/gray-400 */
    color: #495057;
}

#image-output{
    /* Image Output Measures */
    width: 33.6rem;
    height: 30.4rem;
    margin-top: 21.1rem;
}

#no-text{
    /* No Text Measures */
    width: 33.6rem;
    height: 5.8rem;
    margin-top: 3.2rem;
    /* No Text Font */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 120%;
    /* or 29px */
    text-align: center;
    /* Gray/gray-500 */
    color: #343A40;
}

#enter-text{
    /* Enter Text Measures */
    width: 33.6rem;
    height: 4.8rem;
    margin-top: 1.6rem;
    /* Enter Text Font */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* Gray/gray-400 */
    color: #495057;
}

#button-copy{
    /* Button Copy Measures */
    width: 33.6rem;
    height: 6.7rem;
    margin-top: 3.2rem;
    /* Button Copy Visuals */
    /* Dark blue/dark-blue-300 */
    background-color: transparent;
    border: 1px solid #0A3871;
    border-radius: 24px;
    /* Button Copy Font */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}

.output-style{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    /* Gray/gray-400 */
    color: #495057;
}